[v-cloak] {
  display: none;
}

html,
body {
  font-family: Roboto, sans-serif;
}

.company-card .name {
  font-size: 1.5em;
}

.project-summary .big-stat .stat-value {
  font-size: 2.3em;
}

.project-summary .big-stat .stat-text {
  text-transform: uppercase;
}

